
.Container {
	position: relative;
	top: 30px;
	margin: 0 auto;
	width:990px;
	clear:both;
}

.Container .Container-ColSideBar {
	float: left;
	width: 200px;
	margin-bottom: 20px;
	margin-Right: 20px;
}

.Container .Container-ColMain {
	float: left;
	width: 700px;
	margin-bottom: 20px;
	margin-Right: 20px;
}

.Container .Container-Row {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	clear:both;
}

.Container .Container-Block {
	float: left;
	width: 300px;
	height: 300px;
	margin-bottom: 40px;
	margin-right: 30px;
}

/*
.Container .Container-Block:hover {
	background-color:#fff;
}
*/

.Container .Container-Row .Title,
.Container .Container-ColSideBar .Title,
.Container .Container-ColMain .Title,
.Container .Container-Block .Title {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #aa00aa;
	border: 1px solid #a3b8cb;
	background-image:url(/img/indexbg.gif);
	width: 98%;
	float: left;
}

.Container .Container-Row .Context,
.Container .Container-ColSideBar .Context,
.Container .Container-ColMain .Context,
.Container .Container-Block .Context {
	padding: 10px;
	border: 1px solid #a3b8cb;
	width: 98%;
	float: left;
}

.Container .Container-Block .Context {
	height: 249px;
}

.Container .Container-Block .Context .Area,
.Container .Container-Row .Context .Area {
	float: left;
	width: 100%;
}

.Container .Container-Block .Context li,
.Container .Container-Row .Context li {
	border-bottom: #DDDDDD 1px solid;
	display: block;
	line-height: 25px;
	height: 25px;
}

.Container li.Right {
	text-align: right;
}

.Container li.Center {
	text-align: center;
}

.Container fieldset {
	padding:10px;
	margin-top: 10px;
	border:1px solid #1E7ACE;
}

.Container fieldset legend {
	color:#1E7ACE;
	font-weight:bold;
	padding:3px 20px 3px 20px;
	border:1px solid #1E7ACE;
	background:#fff;
	background-image:url(/img/indexbg.gif);
}

.Container fieldset .fieldset-row {
	margin-left: 100px;
}

.Container table tr td {
	height: 25px;
	border-bottom:1px solid #DDDDDD;
}




